<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1>Vinyl</h1>

  <h2>Login</h2>

  <div id="login">
    <form action="/sign-in" method="post">
        Email: <input type="text" name="email"><br>
        Password: <input type="text" name="password"><br>
        <input type="submit" value="Submit">
    </form>
  </div>

</body>
</html>
